.header {
  width: 100%;
  background-color: black;
  color: aliceblue;
  height: 60px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header__logo {
  margin: auto;
}
.header__createMovie_btn {
  clear: left;
  float: right;
  margin-right: 10px;
}
.login__icon {
  color: white;
  margin-right: 10px;
  margin-left: 10px;
}
